<div id = "bodyclass">
  <form #form="ngForm" name="editform" (submit)="backhome(form.value)" ngNativeValidate>
      <label for="blogtitle">Blog Title:</label><br/>
      <input id="blogtitle" name="title" [ngModel] ="blog.title" required/><br>
      <label for="blogbody">Blog Body:</label><br>
      <textarea name="message" rows="2" cols="20" id="blogcontent" [ngModel]="blog.message" ></textarea><br>
      <label for="blogauthor">Blog Author:</label><br>
      <input type="text" id="blogauthor" name="author" autocomplete="on" [ngModel]="blog.author" required><br><br>
      <button type="submit" class="button">Edit</button>
      <button class="button" (click)="delete()">Delete</button>
  </form>
</div>
